<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ADDomain</key>
	<string></string>
	<key>AutoConfigure</key>
	<string></string>
	<key>ChangePasswordType</key>
	<string>Kerberos</string>
	<key>DisplayName</key>
	<string></string>
	<key>ExpeditedLookup</key>
	<false/>
	<key>ExportableKey</key>
	<false/>
	<key>GetHelpOptions</key>
	<string></string>
	<key>GetHelpType</key>
	<string></string>
	<key>Groups</key>
	<array/>
	<key>HidePrefs</key>
	<false/>
	<key>KerberosRealm</key>
	<string></string>
	<key>LastCertificateExpiration</key>
	<string></string>
	<key>LoginComamnd</key>
	<string></string>
	<key>LoginItem</key>
	<string></string>
	<key>LDAPServerList</key>
	<string></string>
	<key>LocalPasswordSync</key>
	<false/>
	<key>LastUser</key>
	<string></string>
	<key>LastPasswordWarning</key>
	<string>1296000</string>
	<key>LastPasswordExpireDate</key>
	<date>2016-11-23T02:28:33Z</date>
	<key>PasswordExpireAlertTime</key>
	<integer>1296000</integer>
	<key>PasswordChangeOptions</key>
	<string></string>
	<key>RenewTickets</key>
	<true/>
	<key>SecondsToRenew</key>
	<integer>7200</integer>
	<key>SelfServicePath</key>
	<string></string>
	<key>ShowHome</key>
	<false/>
	<key>SignInCommand</key>
	<string></string>
	<key>StateChangeAction</key>
	<string></string>
	<key>Template</key>
	<string></string>
	<key>UserPrincipal</key>
	<string></string>
	<key>UserPasswordExpireDate</key>
	<string></string>
	<key>UserHome</key>
	<string></string>
	<key>UserCommandTask1</key>
	<string></string>
	<key>UserCommandName1</key>
	<string></string>
	<key>UserCommandHotKey1</key>
	<string></string>
	<key>UserPasswordSetDates</key>
	<dict/>
	<key>UseKeychain</key>
	<false/>
	<key>UserShortName</key>
	<string></string>
	<key>UserAging</key>
	<false/>
	<key>Verbose</key>
	<false/>
	<key>X509CA</key>
	<string></string>
</dict>
</plist>
